*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box
{
    width: 300px;
    height: 300px;
    border: 3px solid black;
    margin: 100px auto;
    padding: 10px;
    /* overflow: hidden; */
    overflow: auto;
    /* overflow: scroll; */
}